:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table {
  border: 1px solid #444444;
  border-collapse: collapse;
  /*  테이블 크기 고정 */
  table-layout: fixed;
}

.fixturenameTable {
  height: 367px;
}

th,
td {
  border: 1px solid #fffcfc;
  padding: 5px;
  /*  테이블 크기 고정 */
  white-space: nowrap;
}

.daily_data_wrapper {
  display: flex;
  flex-flow: column;
  background-color: rgb(254, 235, 238);
  justify-content: center;
  align-items: center;
  min-width: 800px;
  height: 500px;
  border-radius: 80px 80px 80px 20px;
}

.daily-data {
  display: flex;
}

.daily_post_wrapper {
  display: flex;
  background-color: rgb(254, 235, 238);
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 500px;
  border-radius: 80px 80px 80px 20px;
}

input {
  height: 25px;
}
